@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0;
  li {
    list-style-type: none;
    display: block;
  }
}

:root {
  --global-color-blue: rgb(104, 154, 201);
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

textarea,
button,
input {
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  outline: none;
}

input,
select {
  outline: none;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

@mixin displayFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@mixin displayFlexBetween {
  @include displayFlex();
  justify-content: space-between;
}

@mixin displayFlexColumn {
  @include displayFlex();
  flex-direction: column;
}

@mixin positionAbsoluteCenter {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.website-wrapper {
  @include displayFlexColumn();
  justify-content: flex-start;
  width: 100%;
}

.header {
  @include displayFlex();
  height: 70px;
  width: 100%;
  background-color: black;
  .container {
    @include displayFlex();
    justify-content: flex-start;
    width: 1140px;
    height: 100%;
    .logo {
      width: 180px;
      height: 30px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("./images/logo.png");
      cursor: pointer;
    }
  }
}

.content {
  @include displayFlexColumn();
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 87px;
  .learn-more-container {
    padding: 20px 0;
    color: #9e9fa4;
    a {
      margin-left: 5px;
      color: #9e9fa4;
      font-weight: 700;
    }
  }
  .password-generator-container {
    @include displayFlexColumn();
    width: 1160px;
    background-color: black;
    color: white;
    padding-top: 56px;
    padding-bottom: 37px;
    margin-bottom: 72px;
    h1 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    p {
      margin-bottom: 8px;
    }
    p:nth-child(3) {
      margin-bottom: 24px;
    }
    .output-container {
      @include displayFlex();
      width: 700px;
      height: 50px;
      margin-bottom: 24px;
      .output {
        position: relative;
        height: 100%;
        flex-grow: 1;
        background-color: white;
        color: black;
        @include displayFlex();
        justify-content: flex-start;
        padding-left: 25px;
        font-weight: 700;
        font-size: 20px;
        .btn-generate {
          position: absolute;
          transform: translate(0, -50%);
          top: 50%;
          right: 25px;
          width: 24px;
          height: 24px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("./images/generate.png");
          cursor: pointer;
        }
      }
      .btn-copy {
        @include displayFlex();
        cursor: pointer;
        width: 190px;
        height: 100%;
        background-color: #09a858;
      }
    }
    .options-container {
      @include displayFlexBetween();
      .checkbox-container {
        @include displayFlex();
        margin-right: 26px;
        .checkbox-field {
          position: relative;
          width: 12px;
          height: 12px;
          background-color: white;
          margin-right: 9px;
          cursor: pointer;
          .icon {
            @include positionAbsoluteCenter();
            width: 100%;
            height: 100%;
            background-color: rgb(0, 132, 255);
            color: white;
          }
        }
        p {
          margin-top: 5px;
        }
      }
      .checkbox-container:last-child {
        margin-right: 0;
      }
    }
  }
  .info-container {
    @include displayFlexBetween();
    align-items: flex-start;
    width: 953px;
    .image {
      height: 225px;
      min-width: 225px;
      background-position: center;
      background-size: contain;
    }
    .text-block {
      max-width: 560px;
      h2 {
        margin-top: 47px;
        font-size: 31px;
        font-weight: 700;
        margin-bottom: 14px;
      }
      p {
        line-height: 26px;
        width: 560px;
        margin-bottom: 15px;
        span {
          white-space: nowrap;
          margin: 0 5px;
        }
      }
      p:last-child {
        margin: 0;
      }

      @include displayFlexColumn();
      align-items: flex-start;
      width: auto;
      flex-grow: 1;
    }
  }
  .about-container {
    .image {
      background-image: url("./images/security.png");
    }
    margin-bottom: 64px;
  }
  .how-it-works-container {
    .image {
      background-image: url("./images/speed.png");
    }
    .text-block {
      min-width: 637px;
      h2 {
        margin-top: 24px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    .container {
      padding: 0 40px;
      width: 100%;
    }
  }

  .content {
    .learn-more-container {
      padding: 20px 40px;
    }
    .password-generator-container {
      width: 100%;
    }
    .info-container {
      width: 100%;
      padding: 0 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    .info-container {
      .text-block {
        max-width: 450px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .header {
    .container {
      padding: 0 20px;
    }
  }

  .content {
    padding-bottom: 0;
    .learn-more-container {
      padding: 20px;
      text-align: justify;
    }
    .password-generator-container {
      padding: 20px;
      margin-bottom: 0;
      h1 {
        font-size: 35px;
        text-align: center;
      }
      p {
        text-align: center;
      }
      .output-container {
        @include displayFlexColumn();
        width: 100%;
        height: 100px;
        .output {
          width: 100%;
        }
        .btn-copy {
          width: 100%;
        }
      }
      .options-container {
        flex-wrap: wrap;
        .checkbox-container {
          justify-content: flex-start;
          width: 50%;
          margin: 0;
        }
      }
    }
    .info-container {
      padding: 20px;
      @include displayFlexColumn();
      margin: 0;
      .text-block {
        width: 100%;
        h2 {
          text-align: center;
          width: 100%;
        }
        p {
          text-align: justify;
          width: 100%;
        }
      }
    }
    .about-container {
      .image {
        order: 2;
      }
    }
    width: 100%;
    .how-it-works-container {
      width: 100%;
      .text-block {
        min-width: 100%;
      }
    }
  }
}
